body{   
    background: #eee;  
}  
#frm{  
    border: solid gray 1px;  
    width:25%;  
    border-radius: 2px;  
    margin: 120px auto;  
    background: white;  
    padding: 50px;  
}  
#btn{  
    color: #fff;  
    background: #337ab7;  
    padding: 7px;  
    margin-left: 70%;  
}  

 @media only screen and (min-width:320px){
       body{
      width: 100%;
    }
   .login-box {  
    margin-top: 55px;
    width: 35vw; 
    height:50vh;
    padding:1px;
    background: #1A2226;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);   
}
 }  /*(smaller viewpoints)*/

@media only screen and (min-width:480px){
    body{width: 100%;
    }
  .login-box {  
    margin-top: 55px;
    width: 25vw; 
    height:50vh;
    padding:0px;
    background: #1A2226;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);   
}
} /*(small devices and most phones) */
@media only screen and (min-width:768px){
    body{
      width: 100%;
    } 
   
} /*(most tablets) */
@media only screen and (min-width:992px){
     body{
      width: 100%;
    }
} /*(smaller desktop viewpoints) */
@media only screen and (min-width:1200px){
     body{
      width: 100%;
    }
} /*(large devices and wide screens) */

